EXPO_PUBLIC_API_URL=
EXPO_PUBLIC_AUTH_URL=https://identitytoolkit.googleapis.com/v1/accounts
EXPO_PUBLIC_FIREBASE_API_KEY=

EXPO_PUBLIC_FIREBASE_PROJECT_ID=your-project-id
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=your-project-id.firebasestorage.app

# Adresse HTTPS du serveur de paiement de test
EXPO_PUBLIC_STRIPE_URL=
